.comments {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}
