.header__card-title {
  display: flex;
  box-sizing: border-box;
  min-height: 76px;
  margin: 0 15px 0 30px;
  padding: 0;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.3984px;
  color: #2A1804;
  align-items: center;
}