.header__cards {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  justify-content: space-between;
}

@media screen and (min-width: 475px) {
  .header__cards {
    flex-direction: row;
    padding: 151px 30px 55px;
  }
}