.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

@media screen and (min-width: 475px) {
  .footer__bottom {
    flex-direction: row;
    justify-content: space-between;

  }
  
}