.header__menu-button, 
.header__menu-button::before,
.header__menu-button::after {
  display: block;
  background-color: #2A1804;
  height: 3px;
  width: 30px;
  border-radius: 1px;
}

.header__menu-button::before {
  content: '';
  margin-top: 7px;
}

.header__menu-button::after {
  content: '';
  margin-top: -17px;
}