.element__image {
  width: 100%;
  height: 282px;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: center center;
}

.element__image:hover {
  cursor: pointer;
}