.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  font-family: 'Noto Sans', 'Noto Serif', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  scroll-behavior: smooth;
  background-color: #FFFFFF;

}