.header__navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-height: 40px;
  background-color: #B3B0A3;
  padding-left: 30px;
}

@media screen and (min-width: 475px) {
  .header__navigation {
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: start;
  }
}