.header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  position: relative;
  justify-content: end;
}

@media screen and (min-width: 320px) {
  .header {
    width: 288px;
    min-height: 42px;
    margin: 16px auto 0;
  }  
}

@media screen and (min-width: 768px) {
  .header {
    width: 720px;
    min-height: 52px;
    margin: 28px auto 0;
  } 
}

@media screen and (min-width: 1024px) {
  .header {
    width: 928px;
    min-height: 52px;
    margin: 28px auto 0;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 1184px;
    min-height: 52px;
    margin: 28px auto 0;
  }
}