.header__card {
  display: flex;
  flex-direction: column;
  max-width: 490px;
  max-height: 600px;
  margin: 0 0 30px 0;
  padding: 0;
  box-sizing: border-box;
  border: 3px solid #D57E00;
  background: #FFFFFF;
}
.header__card:last-child {
  margin: 0;
}

@media screen and (min-width: 475px) {
  .header__card {
    margin: 0 30px 0 0;
  }
  .header__card:last-child {
    margin: 0;
  }
}