@font-face {
  src:
    url(./istokregular.woff2) format('woff2'),
    url(./istokregular.woff) format('woff'),
    url(./istokregular.ttf) format('truetype');
  font-family: 'Istok Web';
  font-weight: normal;
}

@font-face {
  src:
    url(./istokbold.woff2) format('woff2'),
    url(./istokbold.woff) format('woff'),
    url(./istokbold.ttf) format('truetype');
  font-family: 'Istok Web';
  font-weight: bold;
}
