.resources__logo-zone {
  width: 1100px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  flex-direction: row;
  justify-content: space-between;
  margin: 80px auto 0;
}
