.intro__title {
  margin: 60px 0 30px 0;
  padding: 0;
  width: 100%;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 105%;
  letter-spacing: 1.68px;
  color: #2A1804;

}

@media screen and (min-width: 475px) {
  .intro__title {
    margin: 100px 0 45px 0;
    width: calc(100% - 80px);
    font-size: 42px;
  }
}

@media screen and (min-width: 768px) {
  .intro__title {
    margin: 140px 0 60px 0;
    width: calc(100% - 100px);
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    margin: 200px 0 60px 0;
    font-size: 72px;
  }
}