.profile__edit-button {
  width: 18px;
  height: 18px;
  margin: 8px 0 0;
  padding: 0;
  background-color: #000000;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  outline: none;
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7.5px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
}

@media screen and (min-width: 768px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    margin: 15px 0 0;
    background-size: 10px;
  }
}