.category__card {
  display: flex;
  height: 200px;
  min-width: 200px;
  background-color: salmon;
  /* background-image: url(../../../images/pearl-meatballs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  margin: 5px 30px;
}



  