.element__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/delete-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.element__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
} 