.footer {
  grid-area: footer;
  z-index: 10;
  display: flex;
}

@media screen and (min-width: 320px) {
  .footer {
    flex-direction: column;
    width: 186px;
    height: 310px;
    margin: 64px 118px 24px 16px;
  }  
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    width: 720px;
    height: 18px;
    margin: 88px auto 24px;
  } 
}

@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    width: 928px;
    height: 18px;
    margin: 92px auto 24px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    flex-direction: row;
    width: 1184px;
    height: 18px;
    margin: 92px auto 24px;
  }
}