.footer {
  grid-area: footer;
  display: grid;
  grid-auto-flow: row;
  width: 186px;
  margin: 64px 118px 24px 16px;
}

@media screen and (min-width: 768px) {
  .footer {
    grid-auto-flow: column;
    width: 720px;
    margin: 88px auto 24px;
  } 
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 928px;
    margin: 92px auto 24px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 1184px;
  }
}