.this-week__cards-block-one {
  display: grid;
  grid-template-columns: 1fr;
  margin: 30px 0 60px;
  gap: 30px 0;
  justify-items: center;
}
.this-week__cards-block-one::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 475px) {
  .this-week__cards-block-one {
    grid-template-columns: repeat(3, 1fr);
    margin: 60px 0 60px;
    gap: 0 90px;
    overflow-x: scroll;
    align-items: start;
    justify-items: center;
  }
  
}

@media screen and (min-width: 768px) {
  .this-week__cards-block-one {
    margin: 60px 0 120px;
  }
}