.comments__button {
  height: 42px;
  width: 228px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid #1f1f1f;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 1;
}

.comments__button:hover {
  border-color: #2f80ed;
  color: #2f80ed;
  transition: 0.2s;
}
