.popup__error {
  margin: 0 22px;
  padding: 0;
  min-height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.popup__error:last-of-type {
  min-height: 15px;
}

@media screen and (min-width: 768px) {
  .popup__error {
    margin: 0 36px;
    min-height: 30px;
  }
  .popup__error:last-of-type {
    min-height: 30px;
  }
}