.cover__subtitle {
  max-width: 288px;
  font-size: 14px;
  line-height: 114%;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  z-index: 3;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
  } 
}
