.category__cards {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 120px;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.category__cards::-webkit-scrollbar {
  display: none;
}